<h1>Multi Select Form</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="numbersSelect">Numbers</label>
        <app-multi-select [data]="data" [options]="options" formControlName="numbers" id="numbersSelect"></app-multi-select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<h1>Model</h1>
<div>
    <app-multi-select [data]="sites" [options]="siteOptions" [(ngModel)]="siteCodes"></app-multi-select>
</div>
<div>
    <button class="btn btn-primary" type="button" (click)="onTestModel()">Test Model</button>
</div>
