<div ngbDropdown class="d-inline-block w-100">
    <button type="button" class="btn btn-light w-100" id="dropdown" ngbDropdownToggle [disabled]="isDisabled" (click)="onTouched()">
        {{ buttonLabel }}
    </button>
    <div ngbDropdownMenu>
        <div class="search">
            <input #search type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search">
        </div>
        {{search.focus()}}
        <div class="d-flex">
            <button type="button" class="btn btn-light flex-fill" (click)="selectAll()">{{ selectAllLabel }}</button>
            <button type="button" class="btn btn-light flex-fill" (click)="deselectAll()">{{ deselectAllLabel }}</button>
        </div>
        <div class="inner">
            <ul>
                <li class="d-flex justify-content-between" *ngFor="let item of filteredItems" (click)="onItemClicked(item.id)">
                    <div>{{ item.name }}</div>
                    <span *ngIf="item.checked" class="check-mark"></span>
                </li>
            </ul>
            <div class="no-results" *ngIf="noResults$ | async as noResults">{{noResultsLabel}} '{{noResults}}'</div>
        </div>
    </div>
</div>